server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: order-service
          uri: http://order-service:8080
          predicates:
            - Path=/api/orders/**
        - id: payment-service
          uri: http://payment-service:8080
          predicates:
            - Path=/api/payments/**

management:
  endpoints:
    web:
      exposure:
        include: health,info